# Introduction

Cet examen se base sur les données météo france de 2018

# Import des modules

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Lecture du fichier (1 pt)
Lire le fichier datas.csv dans un DataFrame df

In [3]:
df=pd.read_csv('meteo.csv')

# Aperçu du tableau (1 pt)
Afficher les 10 première lignes du DataFrame

In [4]:
print(df.head(10))

                 Nom        Date  Température  Pression au niveau mer  \
0    TROYES-BARBEREY  2018-08-08     295.5750               101367.50
1         ROUEN-BOOS  2018-08-08     292.4250               101316.25
2               ORLY  2018-08-08     295.9250               101295.00
3      BALE-MULHOUSE  2018-08-08     298.1875               101310.00
4   TOULOUSE-BLAGNAC  2018-08-08     297.9750               101370.00
5  LA DESIRADE METEO  2018-08-08     302.1000               101712.50
6              TOURS  2018-08-08     294.7875               101375.00
7            GOURDON  2018-08-08     296.7625               101385.00
8     LE RAIZET AERO  2018-08-08     300.7125               101742.50
9  NANTES-BOUGUENAIS  2018-08-08     293.7500               101370.00

   Humidité
0    67.375
1    69.250
2    57.750
3    61.250
4    65.375
5    72.000
6    62.000
7    62.500
8    77.500
9    70.625

# Nombre de Colonnes (1 pt)
Afficher le nombre de colonnes dans le DataFrame

In [5]:
print (df.shape[0])

19545

# Nombre de lignes (1 pt)
Afficher le nombre de lignes dans le DataFrame

In [6]:
print (df.shape[1])

5

# Données manquantes (1 pt)
Afficher le nombre données manquantes par colonne

In [7]:
#print(df.isna())
print(int(df.shape[0])-int(df.dropna().shape[0]))

929

In [8]:
print(df.dropna().shape[0])

18616

# Suppression des manquants (1 pt)
Supprimer les lignes contenant des données manquantes

In [9]:
df=df.dropna()

In [10]:
print(df)

                       Nom        Date  Température  Pression au niveau mer  \
0          TROYES-BARBEREY  2018-08-08   295.575000           101367.500000
1               ROUEN-BOOS  2018-08-08   292.425000           101316.250000
2                     ORLY  2018-08-08   295.925000           101295.000000
3            BALE-MULHOUSE  2018-08-08   298.187500           101310.000000
4         TOULOUSE-BLAGNAC  2018-08-08   297.975000           101370.000000
5        LA DESIRADE METEO  2018-08-08   302.100000           101712.500000
6                    TOURS  2018-08-08   294.787500           101375.000000
7                  GOURDON  2018-08-08   296.762500           101385.000000
8           LE RAIZET AERO  2018-08-08   300.712500           101742.500000
9        NANTES-BOUGUENAIS  2018-08-08   293.750000           101370.000000
10           SAINT GEORGES  2018-08-08   300.212500           101416.250000
11               ST GIRONS  2018-08-08   294.212500           101402.500000
12               PERPIGNAN  2018-08-08   298.762500           101341.250000
13       BORDEAUX-MERIGNAC  2018-09-08   293.150000           101717.500000
14         PTE DE LA HAGUE  2018-09-08   289.950000           101558.750000
15               ST-PIERRE  2018-09-08   289.900000           101240.000000
17                    ORLY  2018-09-08   291.012500           101315.000000
18      LIMOGES-BELLEGARDE  2018-09-08   291.200000           101562.500000
19               ABBEVILLE  2018-09-08   288.675000           101313.750000
20     STRASBOURG-ENTZHEIM  2018-09-08   296.350000           101373.750000
21             PLOUMANAC'H  2018-09-08   289.575000           101687.500000
22       RENNES-ST JACQUES  2018-09-08   289.087500           101623.750000
23                   TOURS  2018-09-08   289.875000           101470.000000
24         GILLOT-AEROPORT  2018-09-08   294.525000           102271.250000
25            REIMS-PRUNAY  2018-09-08   290.987500           101266.250000
26             NANCY-OCHEY  2018-09-08   293.325000           101345.000000
27                 BOURGES  2018-09-08   292.162500           101470.000000
28           BALE-MULHOUSE  2018-09-08   295.050000           101462.500000
29             MONTPELLIER  2018-09-08   298.837500           101527.500000
30      LIMOGES-BELLEGARDE  2018-10-08   289.912500           102516.250000
...                    ...         ...          ...                     ...
19515   NOUVELLE AMSTERDAM  2018-11-21   288.650000           102670.000000
19516   NOUVELLE AMSTERDAM  2018-11-09   285.025000           103120.000000
19517      CAYENNE-MATOURY  2018-12-13   300.412500           101346.250000
19518         TARBES-OSSUN  2018-12-21   283.275000           102591.250000
19519      TROYES-BARBEREY  2018-12-21   284.550000           101347.500000
19520                TOURS  2018-12-22   285.100000           102377.500000
19521      PTE DE LA HAGUE  2018-10-12   284.075000           102940.000000
19522             PAMANDZI  2018-07-10   299.450000           101320.000000
19523    BORDEAUX-MERIGNAC  2018-12-25   282.237500           103091.250000
19524       CAEN-CARPIQUET  2018-12-27   274.625000           102660.000000
19525          MARIPASOULA  2018-12-26   297.400000           101231.250000
19526          NANCY-OCHEY  2018-12-19   280.537500           101515.000000
19527               MILLAU  2018-12-19   280.025000           101846.250000
19528             PAMANDZI  2018-12-09   296.750000           101630.000000
19529             PAMANDZI  2018-10-16   296.250000           101440.000000
19530   NOUVELLE AMSTERDAM  2018-07-09   285.450000           102740.000000
19531             PAMANDZI  2018-10-13   301.850000           101500.000000
19532             PAMANDZI  2018-11-10   299.150000           101453.333333
19533         JUAN DE NOVA  2018-10-16   297.750000           101360.000000
19534             PAMANDZI  2018-10-14   299.550000           101460.000000
19535   NOUVELLE AMSTERDAM  2018-09-10   284.550000           102285.000000
19536         JUAN DE NOVA  2018-11-12   306.150000           101280.000000
19537         JUAN DE NOVA  2018-12-24   300.550000           101100.000000
19538   NOUVELLE AMSTERDAM  2018-12-11   288.250000           102240.000000
19539     PTE DE CHASSIRON  2018-12-18   284.716667           101176.666667
19540             PAMANDZI  2018-09-18   298.350000           101670.000000
19541             PAMANDZI  2018-12-22   302.550000           100995.000000
19542         JUAN DE NOVA  2018-12-21   306.250000           100960.000000
19543             PAMANDZI  2018-09-22   296.450000           101430.000000
19544             PAMANDZI  2018-01-11   303.650000           101260.000000

        Humidité
0      67.375000
1      69.250000
2      57.750000
3      61.250000
4      65.375000
5      72.000000
6      62.000000
7      62.500000
8      77.500000
9      70.625000
10     80.625000
11     78.750000
12     69.000000
13     74.875000
14     82.000000
15     91.500000
17     78.625000
18     73.625000
19     84.375000
20     66.500000
21     73.875000
22     82.750000
23     82.500000
24     67.750000
25     82.875000
26     77.125000
27     73.500000
28     71.250000
29     79.250000
30     62.250000
...          ...
19515  67.000000
19516  85.750000
19517  77.875000
19518  66.875000
19519  91.000000
19520  87.500000
19521  68.500000
19522  70.000000
19523  95.625000
19524  89.375000
19525  92.500000
19526  87.375000
19527  89.000000
19528  86.000000
19529  91.500000
19530  90.000000
19531  67.333333
19532  79.666667
19533  86.000000
19534  77.500000
19535  61.500000
19536  65.000000
19537  66.000000
19538  87.000000
19539  78.666667
19540  76.000000
19541  72.000000
19542  61.000000
19543  86.000000
19544  65.000000

[18616 rows x 5 columns]

# Tri par nom et par date (2 pts)
Trier le DataFrame par nom et par date

In [11]:
df=df.sort_values(by=['Nom', 'Date'])
print(df.head())

            Nom        Date  Température  Pression au niveau mer  Humidité
2116  ABBEVILLE  2018-01-01     280.2625               100145.00     82.00
1064  ABBEVILLE  2018-01-02     277.8375               100348.75     77.00
1799  ABBEVILLE  2018-01-03     270.7250                99900.00     58.25
6787  ABBEVILLE  2018-01-04     279.9125               101096.25     77.50
6188  ABBEVILLE  2018-01-05     281.8000               101203.75     75.50

# Passage en degrés Celsius (1 pt)
Transformer les températures en Kelvin en température en degrés Celsius

    pour rappel : T(K) = T(°C) + 273.15

In [12]:
if(df['Température'][0]>200):
    df['Température']=df['Température']-273.15
print(df.head())

            Nom        Date  Température  Pression au niveau mer  Humidité
2116  ABBEVILLE  2018-01-01       7.1125               100145.00     82.00
1064  ABBEVILLE  2018-01-02       4.6875               100348.75     77.00
1799  ABBEVILLE  2018-01-03      -2.4250                99900.00     58.25
6787  ABBEVILLE  2018-01-04       6.7625               101096.25     77.50
6188  ABBEVILLE  2018-01-05       8.6500               101203.75     75.50

# Création de l'indice THI (1 pt)
Créer une nouvelle colonne nommée THI (Temperature Humidity Index) calculée de la façon suivante :
    
    THI = T - ((0.55 - 0.0055*H) * (T - 14.5))
    avec T : Température en °C
    et H : Humidité relative en %

In [13]:
df['THI']=df['Température']-((df['Température']-14.5)*(-0.0055*df['Humidité']+0.55))
print(df.head())

            Nom        Date  Température  Pression au niveau mer  Humidité  \
2116  ABBEVILLE  2018-01-01       7.1125               100145.00     82.00
1064  ABBEVILLE  2018-01-02       4.6875               100348.75     77.00
1799  ABBEVILLE  2018-01-03      -2.4250                99900.00     58.25
6787  ABBEVILLE  2018-01-04       6.7625               101096.25     77.50
6188  ABBEVILLE  2018-01-05       8.6500               101203.75     75.50

           THI
2116  7.843863
1064  5.928781
1799  1.461403
6787  7.720016
6188  9.438288

# Température moyenne (2 pts)
Donner la température moyenne par ville

In [14]:
print(df.groupby(['Nom'])['Température'].mean())

Nom
ABBEVILLE              11.304258
AJACCIO                16.558680
ALENCON                11.457674
BALE-MULHOUSE          11.914379
BASTIA                 16.537162
BELLE ILE-LE TALUT     13.236339
BORDEAUX-MERIGNAC      14.248408
BOURGES                12.957671
BREST-GUIPAVAS         11.557976
CAEN-CARPIQUET         11.443711
CAP CEPET              16.245781
CAYENNE-MATOURY        26.351993
CLERMONT-FD            12.786500
CROZET                  7.640150
DIJON-LONGVIC          12.269209
EUROPA                 25.387520
GILLOT-AEROPORT        24.616322
GLORIEUSES             27.144322
GOURDON                13.219463
JUAN DE NOVA           28.097024
KERGUELEN               5.695346
LA DESIRADE METEO      27.115934
LAMENTIN-AERO          26.635358
LE RAIZET AERO         25.993549
LILLE-LESQUIN          11.659824
LIMOGES-BELLEGARDE     12.199870
LYON-ST EXUPERY        13.547577
MARIGNANE              16.391519
MARIPASOULA            26.308432
MILLAU                 11.412970
MONT-DE-MARSAN         13.775186
MONTELIMAR             14.633323
MONTPELLIER            15.924037
NANCY-OCHEY            11.345751
NANTES-BOUGUENAIS      12.967678
NICE                   16.784427
NOUVELLE AMSTERDAM     15.191596
ORLY                   12.621875
PAMANDZI               27.153819
PERPIGNAN              16.508549
PLOUMANAC'H            12.049899
POITIERS-BIARD         12.802456
PTE DE CHASSIRON       13.750927
PTE DE LA HAGUE        12.181053
REIMS-PRUNAY           11.559482
RENNES-ST JACQUES      12.328254
ROUEN-BOOS             11.431154
SAINT GEORGES          26.115807
SAINT LAURENT          26.055629
ST GIRONS              12.489383
ST-BARTHELEMY METEO    27.351797
ST-PIERRE               5.368205
STRASBOURG-ENTZHEIM    12.246558
TARBES-OSSUN           12.653329
TOULOUSE-BLAGNAC       14.471198
TOURS                  12.780001
TRINITE-CARAVEL        27.145276
TROMELIN               26.783028
TROYES-BARBEREY        12.195140
Name: Température, dtype: float64

# Nombre de jours plus chauds que la moyenne à Orly (3 pts)
Donner, pour Orly, le nombre de jours avec une température supérieure à la température moyenne d'Orly

In [15]:
Moy=df[df['Nom']=='ORLY'].groupby(['Nom'])['Température'].mean()
print(Moy)
#Voici ce que j'ai tenté et qui ne fontionne pas
print(df[df['Nom']=='ORLY'and df['Température']>float(Moy)])

#print(df[df['Température']>float(Moy)])
#Orlyvals=df[df['Nom']=='ORLY']#['Température']
#print (Orlyvals[Orlyvals['Température']>Moy])

Nom
ORLY    12.621875
Name: Température, dtype: float64

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

# Visualisation (2 pts)
Tracer le boxplot des valeurs de température à Orly

In [ ]:
Y=Orlyvals['Température']
X = np.linspace(min(Y),max(Y), len(Y),endpoint=True)
plt.plot(X, Y, color="blue", linewidth=1.0)

# Classe (3 pts)
Créer une classe s'initialisant avec le DataFrame meteo.csv et proposant deux méthodes.
La première prend en argument un nom de ville et renvoie la température moyenne dans cette ville.
La seconde prend en argument une température et renvoie le nombre de villes pour lesquelles la température moyenne est supérieure à la température passée en argument de la méthode.

In [ ]:
class Meteo:
    """Cette classe propose deux méthodes.
    L'une qui envoie la température moyenne 
    et prend en entrée un nom de ville"""

In [ ]:
    def __init(self)__: